.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bkg);
    z-index: 100;
    opacity: 1;

    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}


@media screen and (max-width: 768px) {

    .modal {
    background-color: var(--some-bkg-color);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        max-width: 450px;
        min-height: 609px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        padding: 40px;
    }

    .modal-form-submit  {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        height: 50px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--some-text-color);
        cursor: pointer;
        transition: background-color var(--transition);
    }
    
        &:hover,
        &:focus {
            background-color: var(--modal-open-btn-hover);
        }
        

    .modal-form__field:not(:first-child) {
        margin-top: 10px;
    }

    .modal-form-title {
 
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
     
        text-align: center;
        margin-bottom: 12px;

     
            
    }

    .modal-form {
        flex-direction: column;
        display: flex;
    }

    .modal-form__field-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--contact-fill-color);
        display: block;
        margin-bottom: 4px;
    }

    .modal-form__input-wrapper {
        position: relative;
        display: block;
    }

    .input-icon {
        max-width: 18px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .modal-form__input {
        max-width: 100%;
        height: 40px;
        border-radius: 4px;
    border: 1px solid var(--border-modal-form);
        padding-left: 42px;
        cursor: pointer;
        transition: var(--transition);
       
        font-weight: 400;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.01em;
       

        &:focus+.modal-form-input-icon {
            fill: #2196f3;
        }

        &:focus {
            outline: none;
            border-color: #2196f3;
        }
    }

    .modal-form-message {
        display: block;
        resize: none;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid #21212133;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        padding: 12px 16px;
       
        transition: var(--transition);

        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            border-color: #2196f3;
            outline: none;
        }
    }

    .modal-castom-checkbox-icon {
        display: none;

        .modal-form__check:checked+.modal-castom-checkbox & {
            display: block;
        }
    }

    .modal-form__check {
        cursor: pointer;
        appearance: none;
        position: absolute;
    }

    .modal-castom-checkbox {
        max-width: 16px;
        height: 15px;
        border: 0.2px solid #21212133;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 7px;

        .modal-form__check:focus+& {
            box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }

        .modal-form__check:checked+& {
            background-color: var(--accent-color);
        }
    }

    .modal-form-check-field {
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
        margin-top: 20px;
    
    }

    .policy-text {
      
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: #2196f3;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }
    }

    .modal-close-btn {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: #2196f3;
            transition: var(--transition);
        }
    }

}

@media screen and (min-width: 768px) {
    .modal {
        background: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        max-width: 450px;
        min-height: 609px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 39px 40px 41px;
    }

    .modal-form__field:not(:first-child) {
        margin-top: 10px;
    }

    .modal-form-title {
 
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
     
        text-align: center;
        margin-bottom: 12px;
    }

    .modal-form {
        flex-direction: column;
        display: flex;
    }

    .modal-form__field-description {
        
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--contact-fill-color);
        display: block;
        margin-bottom: 4px;
    }

    .modal-form__input-wrapper {
        position: relative;
        display: block;
    }

    .input-icon {
        width: 18px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .modal-form__input {
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--border-modal-form);
        padding-left: 42px;
        cursor: pointer;
        transition: var(--transition);
  
        font-weight: 400;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        &:focus+.modal-form-input-icon {
            fill: #2196f3;
        }

        &:focus {
            outline: none;
            border-color: #2196f3;
        }
    }

    .modal-form-message {
        display: block;
        resize: none;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid #21212133;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.01em;
        padding: 12px 16px;
        color: var(--modal-ptimary-text-color);
        transition: var(--transition);

        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            border-color: #2196f3;
            outline: none;
        }
    }

    .modal-castom-checkbox-icon {
        display: none;

        .modal-form__check:checked+.modal-castom-checkbox & {
            display: block;
        }
    }

    .modal-form__check {
        cursor: pointer;
        appearance: none;
        position: absolute;
    }

    .modal-castom-checkbox {
        max-width: 16px;
        height: 15px;
        border: 0.2px solid #21212133;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 7px;

        .modal-form__check:focus+& {
            box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }

        .modal-form__check:checked+& {
            background-color: var(--accent-color);
        }
    }

    .modal-form-check-field {
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
        margin-top: 20px;
    }

    .policy-text {

        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;

        text-decoration-line: underline;
        color: #2196f3;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }
    }

    .modal-close-btn {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: #2196f3;
            transition: var(--transition );
        }
    }

    .modal-form-submit  {
        margin-left: auto;
        margin-right: auto;
        max-width: 200px;
        height: 50px;
        background: var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border: none;
        border-radius: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: var(--some-text-color);
        cursor: pointer;
        transition: background-color var(--transition);
    }
    
        &:hover,
        &:focus {
            background-color: var(--modal-open-btn-hover);
        }
    }
    



  @media screen and (min-width: 1200px) {
    .modal {
        background-color: #ffffff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        max-width: 528px;
        min-height: 581px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 40px 39px 40px 41px;
    }

    .modal-form__field:not(:first-child) {
        margin-top: 10px;
    }

    .modal-form-title {
       
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        text-align: center;
        margin-bottom: 12px;
    }

    .modal-form {
        flex-direction: column;
        display: flex;
    }

    .modal-form__field-description {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: var(--contact-fill-color);
        display: block;
        margin-bottom: 4px;
    }

    .modal-form__input-wrapper {
        position: relative;
        display: block;
    }

    .input-icon {
        max-width: 18px;
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        transition: var(--transition);
    }

    .modal-form__input {
        max-width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid var(--border-modal-form);
        padding-left: 42px;
        cursor: pointer;
        transition: var(--transition);
   
        font-weight: 400;
        font-size: 14px;
        line-height: 1.17;
        letter-spacing: 0.01em;

        &:focus+.modal-form-input-icon {
            fill: #2196f3;
        }

        &:focus {
            outline: none;
            border-color: #2196f3;
        }
    }

    .modal-form-message {
        display: block;
        resize: none;
        width: 100%;
        height: 120px;
        border-radius: 4px;
        border: 1px solid #21212133;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        padding: 12px 16px;
        color: var(--modal-ptimary-text-color);
        transition: var(--transition);

        &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }

        &:focus {
            border-color: #2196f3;
            outline: none;
        }
    }

    .modal-castom-checkbox-icon {
        display: none;

        .modal-form__check:checked+.modal-castom-checkbox & {
            display: block;
        }
    }

    .modal-form__check {
        cursor: pointer;
        appearance: none;
        position: absolute;
    }

    .modal-castom-checkbox {
        max-width: 16px;
        height: 15px;
        border: 0.2px solid #21212133;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 7px;

        .modal-form__check:focus+& {
            box-shadow: 0 0 0 2px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }

        .modal-form__check:checked+& {
            background-color: var(--accent-color);
        }
    }

    .modal-form-check-field {
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        margin-bottom: 30px;
        margin-top: 20px;
    }

    .policy-text {

        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;

        text-decoration-line: underline;
        color: #2196f3;

        &:hover,
        &:focus {
            box-shadow: 0 0 0 1px rgba(33, 150, 243, 0.9);
            transition: var(--transition);
        }
    }

    .modal-close-btn {
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        max-width: 30px;
        height: 30px;
        border-radius: 50%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;

        &:hover,
        &:focus {
            fill: #2196f3;
            transition: var(--transition-timing-function);
        }
    }

    .modal-form-submit {
        
                margin-left: auto;
                margin-right: auto;
                max-width: 200px;
                height: 50px;
                background: var(--accent-color);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
                border: none;
                border-radius: 4px;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.87;
                letter-spacing: 0.06em;
                color: var(--some-text-color);
                cursor: pointer;
                transition: background-color var(--transition);
        
        
                &:hover,
                &:focus {
                    background-color: var(--modal-open-btn-hover);
                }
            }
   
}
/*





.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill var(--transition);

    &:hover,
    &:focus {
            fill: var(--accent-color);
        }
}


.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__topic {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}







.modal__form-input-wrapper {
    position: relative;
    display: block;
}

.modal__form-field {
    margin-bottom: 10px;
}

.modal__form-input-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill var(--transition);

    .modal__form-input:focus+& {
            fill: var(--subscribe-btn);
        }
}

.modal__form-message {
    width: 100%;
    height: 120px;
    border: 1px solid var(--border-modal-form);
    border-radius: 4px;
    transition: border-color var(--transition);
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition);

    &:focus {
            outline: none;
            border-color: var(--subscribe-btn);
        }
    &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--modal-message);
}
}

.modal__form-field-message {
    margin-bottom: 20px;
}



.modal__form-check-field {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1.7;
    color: var(--contact-fill-color);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal__link {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal__form-checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    margin-right: 7px;
    cursor: pointer;

    .modal__form-check:checked+& {
            border: none;
        }
}

.modal__form-checkbox-icon-use{
    display: none;

    .modal__form-check:checked+.modal__form-checkbox-icon &{
            display: block;
            border: none;
        }
}


.modal__form-check {
    appearance: none;
    position: absolute;
}

.modal__submit-btn {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--some-text-color);
    cursor: pointer;
    transition: background-color var(--transition);


    &:hover,
    &:focus {
        background-color: var(--modal-open-btn-hover);
    }
}
*/