.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--backdrop-bkg);
    z-index: 100;
    opacity: 1;

    transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    width: 528px;
    min-height: 581px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--some-bkg-color);
    transition: transform var(--transition);
    padding: 40px;

    .backdrop.is-hidden & {
            transform: translate(-50%, -50%) scale(1.1);
        }
}

.modal__close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill var(--transition);

    &:hover,
    &:focus {
            fill: var(--accent-color);
        }
}


.modal__form {
    display: flex;
    flex-direction: column;
}

.modal__topic {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    margin-bottom: 12px;
}

.modal__form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--border-modal-form);
    border-radius: 4px;
    transition: border-color var(--transition);
    transition: fill var(--transition);

    &:focus {
            outline: none;
            border-color: var(--subscribe-btn);
        }
}




.modal__form-desc {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--contact-fill-color);
    margin-bottom: 4px;
}

.modal__form-input-wrapper {
    position: relative;
    display: block;
}

.modal__form-field {
    margin-bottom: 10px;
}

.modal__form-input-icon {
    position: absolute;
    display: block;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    width: 18px;
    height: 18px;
    transition: fill var(--transition);

    .modal__form-input:focus+& {
            fill: var(--subscribe-btn);
        }
}

.modal__form-message {
    width: 100%;
    height: 120px;
    border: 1px solid var(--border-modal-form);
    border-radius: 4px;
    transition: border-color var(--transition);
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition);

    &:focus {
            outline: none;
            border-color: var(--subscribe-btn);
        }
    &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: var(--modal-message);
}
}

.modal__form-field-message {
    margin-bottom: 20px;
}



.modal__form-check-field {
    display: flex;
    align-items: center;
    font-weight: 400;
    line-height: 1.7;
    color: var(--contact-fill-color);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.modal__link {
    color: var(--accent-color);
    text-decoration: underline;
}

.modal__form-checkbox-icon {
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    margin-right: 7px;
    cursor: pointer;

    .modal__form-check:checked+& {
            border: none;
        }
}

.modal__form-checkbox-icon-use{
    display: none;

    .modal__form-check:checked+.modal__form-checkbox-icon &{
            display: block;
            border: none;
        }
}


.modal__form-check {
    appearance: none;
    position: absolute;
}

.modal__submit-btn {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--some-text-color);
    cursor: pointer;
    transition: background-color var(--transition);


    &:hover,
    &:focus {
        background-color: var(--modal-open-btn-hover);
    }
}
