@media screen and (max-width: 767px) {
    .clients {
      
        margin: 0 auto 0 auto;
        padding: 60px 0 60px 0;
    }

    .clients__list{
        align-items: center;
        justify-content: center;
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    .clients__title{
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }

    .clients__example {
        margin-top: 30px;
    }

    .clients__link{
      
        border-radius: 4px;
        width: 210px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--fill-icon-color);
            border: 1px solid var(--fill-icon-color);
            transition: border var(--transition), fill var(--transition);
        &:hover,
        &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .clients{
        background: var(--primary-bg-color);
        margin: 0 auto 0 auto;
        padding: 60px 0 60px 0;
    }

    .clients__list {
        align-items: center;
        justify-content: center;
        display: flex;
        column-gap: 30px;
        flex-wrap: wrap;
    }

    .clients__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
    }

    .clients__example{
        margin-top: 30px;
    }

    .clients__link {
        
        border-radius: 4px;
        width: 226px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--fill-icon-color);
            border: 1px solid var(--fill-icon-color);
            transition: border var(--transition), fill var(--transition);
        &:hover,
        &:focus {
            fill: var(--accent-color);
            border-color: var(--accent-color);
        }
    }
}

@media screen and (min-width: 1200px) {
    .clients {
        background: var(--primary-bg-color);
        margin: 0 auto 0 auto;
      
    }

    .clients__list {
        display: flex;
        column-gap: 30px;
    }

    .clients__title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--secondary-text-color);
        margin-bottom: 50px;
    }

    .clients__link {
       
        border-radius: 4px;
        width: 170px;
        height: 92px;
        display: flex;
        align-items: center;
        justify-content: center;
        fill: var(--fill-icon-color);
            border: 1px solid var(--fill-icon-color);
            transition: border var(--transition), fill var(--transition);
        &:hover,
        &:focus {
        border: 1px solid var(--accent-color);
            fill: var(--accent-color);
        }
    }
}

