footer {
    background-color: var(--hero-footer-bkg-color);
}

.footer-part {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-part__container {
    display: flex;
    align-items: baseline;
    padding: 0;
}

.footer-part__info {
    margin-right: 70px;
}



.footer-part__contact-item {
    line-height: 1.7;
    color: var(--contacts-color);
}

.footer-part__contact {
    margin-bottom: 9px;
}

.foot-navigation {
    display: inline-block;
}

.footer-part__navigation_map {
    line-height: 1.7;
    color: var(--some-text-color);
}

address {
    font-style: normal;
}

.footer-part__form-descr,
.footer-part__join-us {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--some-text-color);

    margin-bottom: 20px;
}

 .footer-part__form-container {
       margin-left: auto;
    }
.footer-part__subscribe-form {
    display: flex;
    align-items: center;
    padding: 0;
}

.footer-part__email-input {
    display: block;
    background-color: transparent;
    width: 358px;
    height: 50px;
    border: 1px solid var(--borderform);
    border-radius: 4px;
    padding-left: 16px;

   &::placeholder {
            color: var(--contacts-color);
        }
}

.footer-part__subscribe-label {
    margin-right: 12px;
}


