@media screen and (max-width:767px){
    .mobile-menu__container {
            position: relative;
            padding-left: 40px;
            padding-top: 48px;
        }
    
        .page-header__mobile-menu {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            transition: opacity var(--transition);
        }
    
        .page-header__mobile-menu.is-open {
            background-color: white;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
    
        }
    
        .mobile-menu__site-nav {
            margin-bottom: 270px;
        }
    
        .site-nav__link {
    
            font-weight: 500;
            font-size: 40px;
            line-height: 1.17;
            letter-spacing: 0.02em;
    
            color: #212121;
            padding-bottom: 32px;
        }
    
        .site-nav__link-current {
            color: var(--accent-color);
        }
    
        .mobile-menu__contacts {
            margin-bottom: 32px;
        }
    
        .mobile-menu__contacts-item {
            padding-bottom: 32px;
        }
    
        .contacts-item__mobile {
            font-weight: 500;
            font-size: 34px;
            line-height: 1.17;
            letter-spacing: 0.02em;
            color: #2196F3;
    
        }
    
        .contacts-item__mail {
    
            font-weight: 500;
            font-size: 24px;
            line-height: 1.17;
            letter-spacing: 0.02em;
    
            color: #757575;
    
        }
    
        .mobile-menu__media-list {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    
        .mobile-menu__media-item {
            font-weight: 500;
            font-size: 18px;
            line-height: 1.17px;
    
            letter-spacing: 0.02em;
            color: var(--accent-color);
        }
    
        .media-item {
            color: #2196F3;
        }
    
        .mobile-menu__media-item:not(:last-child)::after {
            content: " |";
            margin-left: 10px;
            color: rgba(33, 33, 33, .2);
    
        }
    
        .mobile-menu__close-btn {
            position: absolute;
            top: 10px;
            right: 15px;
            background-color: transparent;
            width: 18px;
            height: 18px;
            padding: 0;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: fill var(--transition);
    
            &:hover,
            &:focus {
                fill: var(--accent-color);
            }
        }
}
@media screen and (min-width:768px) {
    .page-header__mobile-menu { display: none;}
}