@media screen and (max-width: 768px) {
    .team-title {
    font-size: 36px;
        line-height: 1.2;
        text-align: center;
        color: var(--article-color);
        margin-bottom: 50px;
    }

    .team {
            background-color: var(--team-bkg-color);
        padding: 60px 0 60px 0;
        margin: 0 auto;
    }

    .team__member-foto {
        width: 450px;
        height: 460px;
    }

    .team__person {
        padding: 30px;
    }

    .team__container {
        margin-top: 30px;

        & .team__member {
            margin-top: 30px;
            background-color: var(--some-bkg-color);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        & .team__faces {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--article-color);
        }

        & .team__job {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--main-text-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .team-title {
    font-size: 36px;
        line-height: 1.2;
        text-align: center;
        color: var(--article-color);
        margin-bottom: 50px;
    }

    .team {
        background-color: var(--team-bkg-color);
        padding: 60px 0 60px 0;
        margin: 0 auto;
    }

    .team__member-foto {
        width: 354px;
        height: 374px;
    }

    .team__person {
        padding: 30px;
    }

    .team__container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 30px;
        margin-top: 30px;

        .team__member {
            margin-top: 30px;
        background-color: var(--some-bkg-color);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .team__faces {
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--article-color);
        }

        .team__job {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--main-text-color);
        }
    }
}

@media screen and (min-width: 1200px) {
    .team-title {
    font-size: 36px;
        line-height: 1.2;
        text-align: center;
        color: var(--article-color);
        margin-bottom: 50px;
    }

    .team {
        background-color: var(--team-bkg-color);
        margin: 0 auto;
    }

    .team__member-foto {
        width: 270px;
        height: 260px;
    }

    .team__person{
        padding: 30px;
    }

    .team__container {
        display: flex;
        column-gap: 30px;
        margin-top: 50px;

        .team__member {
            background-color: var(--some-bkg-color);
            border-radius: 0px 0px 4px 4px;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        }

        .team__faces{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--article-color);
        }

        .team__job {
            margin-top: 10px;
            font-size: 16px;
            line-height: 1.19;
            text-align: center;
            color: var(--main-text-color);
        }
    }
}




