:root {
    --main-bkg-color: #ffffff;
    --main-text-color: #757575;
    --article-color: #212121;
    --accent-color: #2196f3;
    --hero-footer-bkg-color: #2f303a;
    --team-bkg-color: #f5f4fa;
    --contacts-color: rgba(255, 255, 255, 0.6);
    --modal-open-btn-hover: #188ce8;
    --some-text-color: #ffffff;
    --some-bkg-color: #ffffff;
    --border-header: #ececec;
    --card-border: #eeeeee;
    --network-item-bkg: rgba(255, 255, 255, 0.1);
    --fill-icon-color: #afb1b8;
    --contact-fill-color: #757575;
    --overlay-bkg-color: rgba(33, 150, 243, 0.9);
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --backdrop-bkg: rgba(0, 0, 0, 0.2);
    --bkg-examples: rgba(47, 48, 58, 0.8);
    --borderform: rgba(255, 255, 255, 0.3);
    --subscribe-btn: rgba(33, 150, 243, 1);
    --border-modal-form: rgba(33, 33, 33, 0.2);
    --modal-message: rgba(117, 117, 117, 0.5);

    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}